# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage
*.lcov
.nyc_output

# Production build
/dist
/build
/out

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.swo
*~

# IDEs
.fleet
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/

# OS
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vite
.vite
vite.config.ts.timestamp-*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# parcel-bundler cache
.cache
.parcel-cache

# Next.js
.next/

# Nuxt.js
.nuxt

# Gatsby files
.cache/
public

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Temporary folders
tmp/
temp/

# Docker
.dockerignore

# Misc
*.seed
*.pid
*.pid.lock
.lock-wscript
lib-cov

# MacOS
._*
.Spotlight-V100
.Trashes

# Windows
[Dd]esktop.ini
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Bundle analyzer
.bundle-analyzer/

# Storybook
storybook-static/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify

# Sentry
.sentryclirc

# Turborepo
.turbo

# Vercel
.vercel

# PWA files
**/public/workbox-*.js
**/public/sw.js
**/public/worker-*.js

# Generated files
tsc_errors.txt
